# OS X
.DS_Store

# Gradle files
node_modules/
dist/
备份/
src/common/*axios.ts

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package Files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.zip
*.rar
*.tar.gz
*.lock

# del /f/s/q node_modules > nul
# rmdir /s/q node_modules
