$width-lg: 1240px;

//padding
$sm-pd: 15px;
$md-pd: 30px;
$sm-pd-c: 80px;
$md-pd-c: 120px;
$lg-pd-c: 190px;
$lg-pd-max: 320px;

$font-size-lg: 6.667rem;  //80
$font-size-mds: 3.333rem;  //40
$font-size-md: 1.667rem; //20
$font-size-base: 1.5rem;  //18
$font-size-sm: 1.333rem;  //16
$font-size-mini: 1.167rem;  //14

//字体色
$color-body-c: #fe4f70;