a,
button,
input { outline:none; border:0; resize:none; }
input { outline:none; border:0; }
input:focus {
  outline:none; 
  box-shadow: none !important;
}
// 去掉input type=number时输入框内的上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield !important;
}

// 层级
.el-message, .v-zindex, .viewer-transition {z-index: 9999 !important;}
// 日期选择
.el-picker-panel.v-picker-box {
  .el-date-table td.today span {
    color: #fff !important;
    background-color: #ff3828;
  }
}

.pages {
  min-height: 700px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
}

.padd10 {padding: 10px;}
.padd-left10 {padding-left: 10px;}
.padd-left5 {padding-left: 5px;}
.padd-right10 {padding-right: 10px;}
.padd-right5 {padding-right: 5px;}
.padd-top10 {padding-top: 10px;}
.padd-top5 {padding-top: 5px;}
.padd-bottom10 {padding-bottom: 10px;}
.padd-bottom15 {padding-bottom: 15px;}
.padd-bottom5 {padding-bottom: 5px;}

.margin-bottom30 {margin-bottom: 30px;}
.margin-bottom15 {margin-bottom: 15px;}

.font-size12 {font-size: 12px;}
.font-size14 {font-size: 14px;}
.font-size16 {font-size: 16px;}
.font-size18 {font-size: 18px;}
.font-weight {font-weight: bold;}

.text-red {color: #ff3828;}
.text-warning {color: #eea63b;}
.text-grey6 {color: #666;}
.text-grey9 {color: #999;}

.text-inline {display: inline-block;}
.text-center {text-align: center;}
// 英文字符自动换行
.text-wrap {
  word-wrap: break-word;
  white-space: normal;
  word-break: break-all;
}

// 弹性布局
.weui-flex {
  @include flex(row, nowrap);
  @include align-item(center);  // 垂直Y
  word-break: break-all;
  overflow-wrap: break-word;
  word-wrap: break-word; //兼容IE
  overflow: hidden;
  .weui-flex-hd, .weui-flex-ft {
    display: inline-block;
  }
  .weui-flex-bd {
    @include flex-size(1)
  }
}

// 表格头部按钮
.v-refresh-box {
  position: relative;
  padding-bottom: 15px;
  .v-btn:last-child {
    position: absolute;
    right: 0;
    bottom: 15px;
    &::before {
      content: '刷新';
      display: none;
      position: absolute;
      bottom: -16px;
      right: 3px;
      font-size: 12px;
      color: #409eff;
    }
    &:hover::before{display: block;}
  }
}

.v-btn-green {
  color: #67c23a;
  &:focus, &:hover {
    color: #488f25;
  }
}

.v-btn-yellow {
  color: #f5a836;
  &:focus, &:hover {
    color: #dd8e19;
  }
}

.v-btn-red {
  color: #fd2727;
  &:focus, &:hover {
    color: #f95353;
  }
}
